.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.user-info {
  margin-top: 20px;
}

span {
  color: #dc3545; /* Color rojo para mensajes de error */
}

.user-info button {
    padding: 8px;
    background-color: #dc3545; /* Color rojo para botón de logout */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-info button:hover {
    background-color: #a71d2a; /* Color rojo más oscuro al pasar el mouse */
}